body{
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px
}

#header{
    text-align: center;
    padding-bottom: 25px
}

#header-box-div2{
    margin-top: 50px;
    /*
    display: flex;
    justify-content: center;
    flex-wrap: wrap
    */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
